.c-section--hero {
	&:before {
		content: "";
		background-image: url("../images/world-map.png");
		left: 0;
		right: 0;
		position: absolute;
		bottom: -30%;
		height: 500px;
		z-index: 1;
		background-size: cover;
	}

	.tab-buttons {
		left: 0;
		bottom: 0;
		top: -143px;
		z-index: 100;
		gap: 36px;
		display: grid;
		margin: auto;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		grid-template-rows: repeat(4, 1fr);
		padding: 56px 36px;
	}

	.tab-btn {
		background: transparent;
		padding: 18px;
		@include font-size(16px, 2.4);
		cursor: pointer;
		position: relative;
		transition: all 0.3s ease;
		background: var(--color-white-20);
		backdrop-filter: blur(20px);
		border: 1px solid var(--color-white);
		border-radius: $border-radius;
		span {
			border-radius: $border-radius;
			background: var(--color-white);
			color: #767676;
			padding: 8px;
			transition: all linear .2s;
			border: 1px solid var(--color-white);
			box-sizing: border-box;
		}
	}

	.tab-btn.active,.tab-btn:hover {
		color: var(--color-white);
		font-weight: bold;

		span {
			background: var(--color-secondary);
			color: var(--color-white);
		}

		svg path {
			fill: var(--color-white);
		}
	}

	@keyframes lineIn {
		from {
			transform: scaleX(0);
			opacity: 0;
		}
		to {
			transform: scaleX(1);
			opacity: 1;
		}
	}

	.tab-content {
		display: none;
		opacity: 0;
		transform: translateY(20px);
		transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
		backdrop-filter: blur(4px);
	}

	.tab-content.active {
		display: block;
		opacity: 1;
		transform: translateY(0);
	}
}

.c-hero {
	position: relative;

	&__slider {
		background: linear-gradient(0deg, #244065 0%, #031232 100%);
	.c-slider-content{
		z-index: 2;
		position: relative;
	}
	}

	&__img {
		img {
			max-width: 420px;
		}
	}

	&__desc {
		color: var(--color-white);
		width: 46%;

		p {
			@include font-size(16px, 2.4);
			color: var(--color-white-80);
		}

		img {
			max-width: 100%;
		}
	}

	.before-top-img {
		margin-bottom: -9px;
		text-align: left;

		img {
			height: 150px;
			width: auto;
		}
	}

	.c-slider-main {
		padding: 36px 48px;
		z-index: 2;
	}
}

.lightning-before {
	&:before {
		content: "";
		background-image: url("../images/lightning.svg");
		width: 410px;
		height: 400px;
		position: absolute;
		background-size: contain;
	}
}
.lightning-after {
	&:after {
		content: "";
		background-image: url("../images/lightning.svg");
		width: 410px;
		height: 400px;
		position: absolute;
		background-size: contain;
		left: 0;
		transform: scaleX(-1);
		bottom: 0;
	}
}

.sec-title {
	@include font-size(28px, 1.6);
	color: var(--color-white);
}

.txt-before {
	@include font-size(58px, 1.8);

	img {
		height: 74px;
		margin-bottom: -18px;
		margin-right: -2px;
	}
}

