body,
html {
	font-family: $IRANSansX;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	color: #212121;
	background: #fff;
}

.main {
	background-color: #fff;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.flickity-button:focus {
	box-shadow: none;
}

.flickity-button {
	border-radius: 0;
}

.carousel {
	display: none;
}

.carousel.flickity-enabled {
	display: block;
}

.carousel:after {
	content: 'flickity';
	display: none;
}

@include mq($from: md) {
	.carousel:after {
		content: '';
	}
}

input {
	outline: none;
	padding: 12px 16px;
	border-radius: 8px;
	@include font-size(14px, 1.8);
	box-sizing: border-box;
	border: 2px solid var(--color-white);
	&::placeholder{
		color: var(--color-text);
		text-align: right;
	}
	&:focus{
		border: 2px solid var(--color-secondary);
	}
}
input[type="submit"] {
	cursor: pointer;
	border: none;
}
